*{
  padding: 0;
  margin: 0;
}
.dabba{
  height: 6em;
  width: 100%;
  background-image: linear-gradient(rgb(254, 206, 255),rgb(249, 169, 253));
  color: white;
  font-size: xx-large;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.395);
}
.bar{
  height: 2em;
  width: 15em;
  top: 0;
}
.srcbtn{
  height: 2em;
  width: 6em;
  background-color: rgba(247, 160, 249, 0.402);
  color: white;
  border: none;
  margin-left: 2em;
}